@import 'vars';
@import 'global';
@import 'fonts'; 

//header top start
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    padding: 4px;
    border-radius: 4px;
    width: 72px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register{
    background-color: $red;
}
.header__menu{
    background-color: $bg;    
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
    
    &+li{
        margin-left: 30px;
    }
 }
    a{
        color: #fff;
        font-size: 14px;
    }
}
// end  header top
//  start  search
.search{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 533px;
}
.search__inner{
    padding: 160px 0 100px;
    color: #ffff;
    text-align: center;
    &-title{
        margin-bottom: 10px;
        font-size: 50px;
        font-weight: 700;
        line-height: 75px;
    }
    &-text{
        font-size: 20px;
        line-height: 30px;
        font-weight: 500; 
        margin-bottom: 60px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        
        input{
            display: block;
            width: 100%;
            border-radius: 4px;
            height: 56px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border: none;
            font-size: 14px;
            line-height: 30px;
            font-weight: 500;
            padding-left: 25px;
            padding-right: 60px;

        }
        button{
            position: absolute;
            right: 20px;
            top: 17px;
            background-color: transparent;
            border: none;
            
        }
    }
}
//end search
//start products
.products{
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        transition: all 0.5s;
        &+button{
            margin-left: 5px;
        }
    }
    .mixitup-control-active{
        background-color: $red;
        color: #fff;
        outline: none
    }
}

.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        background-position: center; 
    }
    &-content{
        padding: 10px 33px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        min-height: 90px;
        font-weight: 500;
        border-bottom: 1px solid #e7ecf2;
        
    }
    &-title{
        display: block;
        font-size: 18px;
        color: $bg;
    }
    &-name{
        max-width: 310px;
    }
    &-category{
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price{
        font-size: 20px;
        font-weight: 700;
        color: $bg;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
    }
    &-avatar{
         height: 30px;
         width: 30px;
         border-radius: 50%;
         display: inline-block;
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         margin-right: 14px;
        }
        span{
        font-size: 14px;
        font-weight: 500;
    }
  
    
}
.products__bottom-btn{
    text-align: center;
    button{
        margin: 45px 5px 0;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        outline: none;
    }
      .mixitup-control-active{
        background-color: $red;
        color: #fff;
        outline: none
    }
}
.rateYo{
    display: inline-block;
    margin-right: 10px;
}
.product__title-star{
    span{
        color: #212225;
    }
}
.product__item-avatar{
    span{
        max-width: 200px;
    }
}


.product-slider{
    padding: 120px 0 120px;
    .product-slider__title{
        color: #263238;
        font-size: 36px;
    }
    .slick-dots{
        text-align: center;
        margin-top: 40px;
        li{
            display: inline-block;
            margin-left: 4px;
            margin-right: 4px;
            button{
                font-size: 0;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                  background-color: rgb(232, 232, 232);
                border: none;
                outline: none;
                
            }
        }
        li.slick-active{
            button{
              background-color: #8bc34a;  
            }
            
        }
    }
    
}
.advantages{
    padding: 120px 0;
    background-color: $bg;
    &__title{
        color: #fff;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__inner-item{
    max-width: 370px;
        text-align:center;
        padding: 0 15px;
    }
    &__inner-title{
        color: #fff;
        font-size: 24px;
        line-height: 60px;
    }
}
.advantages__inner-image{
    width: 113px;
    height: 112px;
    border-radius: 50%;
    margin: 0 auto 30px;
    margin-top: 45px;
}
.author{
    min-height: 714px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    &__inner{
        display: flex;
        justify-content: space-around;
        align-items: center;
         background-color: $green;
        max-width: 650px;
        width: 100%;
        min-height: 217px;
        &-title{
            color: #fff;
            font-size: 30px;
            line-height: 36px;
            font-weight: 500;
            max-width: 270px;
            span{
                font-weight: 700;
            }
        }
        &-link{
            padding: 27px 44px;
            color: $bg;
            background-color: #fff;
            font-size: 18px;
        }
        
    }
}
.tutorials{
    background-color: #ffffff;
    padding: 70px 0 123px;
    &__inner{
        display: flex;
        justify-content: space-around;
    }
}
.tutorials__item{
    max-width: 370px;
    width: 100%;
    background-color: #f8f8f8;
    &-img{
        min-height: 270px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-title{
        padding: 30px 10px;
        font-size: 24px;
        color: #263238;
        text-align: center;
    }
}
.footer{
    background-color: #263238;
    &__copy{
        border-top: 1px solid #424d53;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 110px 0 100px;
        
        
    }
    
}
.footer__col{
    max-width: 270px;
    
    &-title{
        font-size: 22px;
        line-height: 24px;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        padding-bottom: 27px;
        margin-bottom: 30px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 52px;
            height: 3px;
            background-color: $green;
            left: 0;
            bottom: 0;
            
        }
    }
    &-text{
        color: #b7c3c8;
        font-size: 15px;
        line-height: 24px;
        padding-bottom: 11px;
    }
    &-info{
        line-height: 24px;
        margin-top: 25px;
        padding-left: 30px;
        position: relative;
        color: #fff;
        max-width: 230px;
        width: 100%;
          &::before{
                content: "\f041";
              position: absolute;
              font-family: 'icomoon';
              left: 0;
              color: $green;
                }
        &.telephone::before{
            content: "\f095";
        }
    }
    &-list li{
        margin-bottom: 15px;
        & a{
         color: #b7c3c8;
        padding-left: 22px;
            position: relative;
            &::after{
                content: "\f105";
                position: absolute;
                left: 0;
                color: $green;
                font-family: 'icomoon';
            }
        }
    }
}

.footer__copy-text{
    text-align: center;
    color: 15px;
    padding: 25px 0 30px;
}

.footer__social-link{
    margin-bottom: 40px;
    li{
        display: inline-block;
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/content/css_sprites.png);
    }
}
.solial-link-twitter{
    background-position: -28px 0;
}
.solial-link-youtube{
    background-position: -0 28px;
}
.solial-link-pintrest{
    background-position: -28px -28px;
}
.solial-link-linkedin{
    background-position: -56px -0;
}
.footer__form{
    position: relative;
    &-title{
        line-height: 36px;
        font-size: 20px;
        margin-bottom: 17px;
        color: #fff;
    }
    input{
        max-width: 258px;
        width: 100%;
        height: 38px;
        background-color: #2f3c43;
        color: #697378;
        padding-left: 15px;
        padding-right: 47px;
        border:none;
    }
    button{
        position: absolute;
        right: 0;
        bootom: 0;
        background-color: $green;
        border:none;
        height: 38px;
        width: 43px;
        cursor: pointer; 
        &::before{
            content: "\f124";
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            font-size: 19px;
            bottom: 8px;
            right: 14px;
        }
    }
}











