@import 'vars';
@import 'global';
@import 'fonts'; 

//header top start
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red; 
    }
}
.header__btn{
    padding: 4px;
    border-radius: 4px;
    width: 72px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 24px; 
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register{
    background-color: $red;
}
.header__menu{
    background-color: $bg;    
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
    
    &+li{
        margin-left: 30px;
    }
 }
    a{
        color: #fff;
        font-size: 14px;
    }
}
// end  header top
//  start  search
.search{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 533px;
    &.page-search{
        min-height: 230px;
        .search__inner{
            padding: 60px 0 70px;
            &-text{
                margin-bottom: 20px;
            }
        }
    }
}
.search__inner{
    padding: 160px 0 100px;
    color: #ffff;
    text-align: center;
    &-title{
        margin-bottom: 10px;
        font-size: 50px;
        font-weight: 700;
        line-height: 75px;
    }
    &-text{
        font-size: 20px;
        line-height: 30px;
        font-weight: 500; 
        margin-bottom: 60px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        
        input{
            display: block;
            width: 100%;
            border-radius: 4px;
            height: 56px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border: none;
            font-size: 14px;
            line-height: 30px;
            font-weight: 500;
            padding-left: 25px;
            padding-right: 60px;

        }
        button{
            position: absolute;
            right: 20px;
            top: 17px;
            background-color: transparent;
            border: none;
            
        }
    }
}


//end search
//start products
.products{
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        transition: all 0.5s;
        &+button{
            margin-left: 5px;
        }
    }
    .mixitup-control-active{
        background-color: $red;
        color: #fff;
        outline: none
    }
}

.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        background-position: center; 
    }
    &-content{
        padding: 10px 33px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        min-height: 90px;
        font-weight: 500;
        border-bottom: 1px solid #e7ecf2;
        
    }
    &-title{
        display: block;
        font-size: 18px;
        color: $bg;
    }
    &-name{
        max-width: 310px;
    }
    &-category{
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price{
        font-size: 20px;
        font-weight: 700;
        color: $bg;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 245px;
    }
    &-avatar{
         min-height: 30px;
         width: 30px;
         border-radius: 50%;
         display: inline-block;
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         margin-right: 14px;
        }
        span{
        font-size: 14px;
        font-weight: 500;   
    }
  
    
    
    
}
.products__bottom-btn{
    text-align: center;
    button{
        margin: 45px 5px 0;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        outline: none;
    }
      .mixitup-control-active{
        background-color: $red;
        color: #fff;
        outline: none
    }
}
.rateYo{
    display: inline-block;
    margin-right: 10px;
}
.product__title-star{
    span{
        color: #212225;
    }
}
.product__item-avatar{
    span{
        max-width: 200px;
    }
}

//end PRODUCTS
//  start product _slider

.product-slider{
    padding: 120px 0 120px;
    .product-slider__title{
        color: #263238;
        font-size: 36px;
    }
    .slick-dots{
        text-align: center;
        margin-top: 40px;
        li{
            display: inline-block;
            margin-left: 4px;
            margin-right: 4px;
            button{
                font-size: 0;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                  background-color: rgb(232, 232, 232);
                border: none;
                outline: none;
                
            }
        }
        li.slick-active{
            button{
              background-color: #8bc34a;  
            }
            
        }
    }
    
}

//end product-slider

//start advantages

.advantages{
    padding: 120px 0;
    background-color: $bg;
    &__title{
        color: #fff;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__inner-item{
    max-width: 370px;
        text-align:center;
        padding: 0 15px;
    }
    &__inner-title{
        color: #fff;
        font-size: 24px;
        line-height: 60px;
    }
}
.advantages__inner-image{
    width: 113px;
    height: 112px;
    border-radius: 50%;
    margin: 0 auto 30px;
    margin-top: 45px;
}
//end advantages

//start author
.author{
    min-height: 714px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    &__inner{
        display: flex;
        justify-content: space-around;
        align-items: center;
         background-color: $green;
        max-width: 650px;
        width: 100%;
        min-height: 217px;
        &-title{
            color: #fff;
            font-size: 30px;
            line-height: 36px;
            font-weight: 500;
            max-width: 270px;
            span{
                font-weight: 700;
            }
        }
        &-link{
            padding: 27px 44px;
            color: $bg;
            background-color: #fff;
            font-size: 18px;
        }
        
    }
}

//end- author


//start-tutorials

.tutorials{
    background-color: #ffffff;
    padding: 70px 0 123px;
    &__inner{
        display: flex;
        justify-content: space-around;
    }
}
.tutorials__item{
    max-width: 370px;
    width: 100%;
    background-color: #f8f8f8;
    &-img{
        min-height: 270px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-title{
        padding: 30px 10px;
        font-size: 24px;
        color: #263238;
        text-align: center;
    }
}

//end-tutorials

//start-footer

.footer{
    background-color: #263238;
    &__copy{
        border-top: 1px solid #424d53;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 110px 0 100px;
        
        
    }
    
}
.footer__col{
    max-width: 270px;
    
    &-title{
        font-size: 22px;
        line-height: 24px;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        padding-bottom: 27px;
        margin-bottom: 30px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 52px;
            height: 3px;
            background-color: $green;
            left: 0;
            bottom: 0;
            
        }
    }
    &-text{
        color: #b7c3c8;
        font-size: 15px;
        line-height: 24px;
        padding-bottom: 11px;
    }
    &-info{
        line-height: 24px;
        margin-top: 25px;
        padding-left: 30px;
        position: relative;
        color: #fff;
        max-width: 230px;
        width: 100%;
          &::before{
                content: "\f041";
              position: absolute;
              font-family: 'icomoon';
              left: 0;
              color: $green;
                }
        &.telephone::before{
            content: "\f095";
        }
    }
    &-list li{
        margin-bottom: 15px;
        & a{
         color: #b7c3c8;
        padding-left: 22px;
            position: relative;
            &::after{
                content: "\f105";
                position: absolute;
                left: 0;
                color: $green;
                font-family: 'icomoon';
            }
        }
    }
}

.footer__copy-text{
    text-align: center;
    color: 15px;
    padding: 25px 0 30px;
}

.footer__social-link{
    margin-bottom: 40px;
    li{
        display: inline-block;
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/content/css_sprites.png);
    }
}
.solial-link-twitter{
    background-position: -28px 0;
}
.solial-link-youtube{
    background-position: -0 28px;
}
.solial-link-pintrest{
    background-position: -28px -28px;
}
.solial-link-linkedin{
    background-position: -56px -0;
}
.footer__form{
    position: relative;
    &-title{
        line-height: 36px;
        font-size: 20px;
        margin-bottom: 17px;
        color: #fff;
    }
    input{
        max-width: 258px;
        width: 100%;
        height: 38px;
        background-color: #2f3c43;
        color: #697378;
        padding-left: 15px;
        padding-right: 47px;
        border:none;
    }
    button{
        position: absolute;
        right: 0;
        bootom: 0;
        background-color: $green;
        border:none;
        height: 38px;
        width: 43px;
        cursor: pointer; 
        &::before{
            content: "\f124";
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            font-size: 19px;
            bottom: 8px;
            right: 14px;
        }
    }
}
//  end footer
//Product page start
.product-page__inner{
    display: flex;
    padding-bottom: 110px;

}
.product-page__aside{
    margin-right: 30px;
}
.aside__item{
    background-color: #fff;
    border: 1px solid #dcdcdc;
    padding: 0 32px 32px ;
    margin-bottom: 30px;
    width: 270px;
}
.aside__title{
    border-bottom: 1px solid #dde3e8;
    font-size: 20px;
    color: $bg;
    padding: 22px 0 19px;
}
.category-list{
    margin-top: 10px;
    li{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;
        &::after{
       content: "\f105";
       position: absolute;
       left: 0;
       color: #8bc34a;
       font-family: 'icomoon';
    }
        a{
            color: $bg;
            font-size: 15px;
        }
        span{
            color: #90a4ae;
            margin-left: 10px;
        }
}
}
.irs-with-grid .irs-grid{
    display: none;
}
.irs--flat .irs-line {
    height: 6px;
}
.irs-min, .irs-max{
    display: none;
}
.irs--flat .irs-bar{
    height: 6px;
    background-color: $bg;
}
.irs--flat .irs-handle>i:first-child {
    position: absolute;
    display: block;
    top: 1px;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left: -1px;
    background-color: $grey !important;
    border: 2px solid $green;
    border-radius: 50%;
}
.irs-from, .irs-single, .irs-to{
    margin-top: 40px !important;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to{
    background-color:transparent;
    color: #78909c
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
    display: none ;
}

.price-range{
    button{
        padding: 17px 10px;
        text-align: center;
        cursor: pointer;    
        width: 100%;
        color: #fff;
        background-color: $green;
        border: none;
        margin-top: 25px;
        position: relative;
        &::before{
            content: "\f002";
       position: absolute;
       left: 56px;
       color: #ffff;
       font-family: 'icomoon';
        }
    }
}
.product-page__aside{
    .product__item{
        box-shadow: none;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dde3e8;
    }
    .product__item-img{
        min-height: 120px;
        
    }
    .product__item-content{
        padding: 0;
        min-height: 70px;
        border-bottom: none;
    }
    .product__item-info{
        padding: 0;
        min-height: 0;
    }
    .product__item-title{
        font-size: 16px;
    }
    .product__item-price{
        font-size: 16px;    
    }
    .product__title-starnum{
        display: none;
    }
    .jq-ry-container{
        padding: 0;
    }
    .rateYo{
        margin-left: 0;
        margin-right: 0;
    }
    .product__item-avatar{
        margin-right: 9px;
    }
    .product__item-author{
        span{
            max-width: 90px;
        }
    }

}
.aside__product-item{
    .product__item:last-child{
        border:none;
        padding-bottom: 0;
        
    }
    .product__item:first-child{
        margin-top: 20px;
    }
    
}
.top__sellers-link{
    padding: 16px 10px;
    display: block;
    color: #ffff;
    background-color: $green;
    text-align: center;
}
.product-page__filter{
    margin-bottom: 30px;
    border: 1px solid #dedede;
    background-color: #ffff;
    padding: 0 30px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 16px;
        color: #dde3e8;
        outline: none;
        &.active{
            color: $green;
        }
    }
}
.product-page__filter .product-page__filter-sort{
   color: #707070;
   font-size: 14px;
}
.product-page__filter .icon-sort-amount-desc{
    font-size: 14px;
    color: #455a64;
}
.product-page__filter .icon-unsorted{
    font-size: 18px;
    color: #707070;
}

.product-page__filter-sort{
    display: flex;
    align-items: center;
}
.product-page__content{
    width: 100%;
    .product__item{
     max-width: 270px;   
        background-color: #fff;
        transition: all .5s;
        
    }
    .product__item-img{
        min-height: 180px;
    }
   .product__item-content{
    padding:10px 20px;
    }
    .product__item-title {
        font-size: 16px;
    }
    .product__item-info {
    min-height: 65px;
    padding: 10px 20px;
    }
    .rateYo{
        margin-right: 0;
    }
    .product__item-avatar{
        margin-right: 7px;
    }
}
.product-page-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.pagination{
    li{
        display: inline-block;
        & + li{
            margin-left: 6px;
        }
        a, span{
          box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75); 
            width: 44px;
            height: 39px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            font-size: 16px;
            color: $bg;
            &.active{
                background-color: $red;
                color: #fff;
            }
        }
    }
    
}

.product__item-text{
    display: none;
}
.product__item-price{
    span{
        display: none;
    }
}
.product__item-list{
    display: none;
    .icon-comment-o, .icon-heart-o{
       font-size: 12px;
        color: #b5c2c9;
        display: inline-block;
        padding-left: 50px;
        border-left: 1px solid #aeb4bb;
        position: relative;
        
         span{
        color: $bg;
       }
        &::before{
            color: $green;
        font-size: 16px;
            position: absolute;
            left: 20px;
        }
        
    }
    .icon-comment-o{
    padding-right: 30px;
        top:-2px;
    }

   
}
.product-page-item{
.product__item{
    &.list{
        max-width: 100%;
        .product__item-img{
            width: 240px;
            float: left;
            min-height: 100%;
        }
        .product__item-text{
            display: block;
            font-size: 14px;
            color: #70838d;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .product__item-price{
            font-size: 30px;
            
            span{
                margin-top: 20px;
            display: block;
                font-size: 13px;
                color: #aeb4bb;
            }
        }
        .product__item-name{
            max-width: 480px;
        }
        .product__item-content {
            padding-top: 22px;
        }
        .product__item-list{
            display: block;
        }
        .product__title-star{
            margin-left: auto;
            margin-right: 30px;
        }
    }
   } 

}






//product page end











